/* Shared code */

:root{
    --color:#FF5400;
    --black: #131318;
    --white: #FFFFFF;
    --lowBlack: #00000071;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    font-family: "Mulish", sans-serif;
}


.btn-primary {
    color: var(--white);
    background-color: var(--color);
    padding: 1.05rem 3rem;
    border-style: none;
    border-radius: .70rem;
    cursor: pointer;
    font-size: 1.25rem;
    font-weight: 800;
}






/* body{
    padding-top: 50px;
    padding-bottom: 80px;
} */

/* Header work */

/* Navbar */

.logo-img {
    width: 80px;
    height: 50 px;
}

.name {
    color: var(--black);
    font-size: 2.6rem;
    font-weight: bolder;
}
.travel {
    color: var(--color);
}

.navbar-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1170px;
    margin: 0 auto;
    margin-bottom: 100px;
}
.name-tag {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav {
    display: flex;
    justify-content: space-around;
    gap: 44px;
    font-size: 1.125rem;
}

.home {
    color: var(--color);
}

/* ================== */

/* Banner Section */


.format {
    font-size: 13px;
}
.banner-section {
    background-image: url(Images/Group\ 13\ \(1\)\ \(1\).png);
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 500px;
    background-position: center;
    text-align: center;
}

.banner-title {
    color: var(--white);
    font-size: 4rem;
    font-weight: bolder;
    padding-top: 106px;
    padding-bottom: 30px;
}

.banner-des {
    color: var(--white);
    padding-bottom: 2rem;
}

.banner-form {
    background-color: rgba(255, 255, 255, 0.308);
    padding: .7rem .0;
    width: 800px;
    margin: 0 auto;
    border-radius: 1.25rem;
    align-items: center;
}

#where {
    padding: .7rem;
    margin-right: 1rem;
    border-radius: 1.25rem;
    border-style: none;
}

#when {
    padding: .7rem;
    margin-right: 1rem;
    border-radius: 1.25rem;
    border-style: none;
}

#select {
    padding: .7rem;
    margin-right: 1rem;
    border-radius: 1.25rem;
    border-style: none;
}


/* Header End */


/* Main Start */

main{
    margin-top: 6.25rem;
    width: 1170px;
    margin: 0 auto;
}

/* Popular-section */

.popular-section {
    display: flex;
     gap: 2rem;
     align-items: center;
     margin-top: 100px;
     margin-bottom: 100px;
}

.popular-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 1.5rem;
}
.popular-list {
    color: var(--lowBlack);
    margin-bottom: 1rem;
}

.circle {
    margin-bottom: 1.5rem;
}

.popular-desc {
    color: var(--lowBlack);
    margin-bottom: 1.5rem;
}

.read {
    margin-top: 20px;
}


/* Destination-section */

.destination-title {
    text-align: center;
}
.choose-title {
    font-size: 2.5rem;
    font-weight: bolder;
    color: var(--black);
    margin-bottom: 1.5rem;
}

.choose-desc {
    color: var(--lowBlack);
    margin-bottom: 50px;
    margin-bottom: 1.5rem;
}

.destination-img {
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

.item-img {
    width: 100%;
    height: 100%;
}



.item-1 {
    grid-column: auto/span 6;
}
.item-2 {
    grid-column: auto/span 6;
}
.item-3 {
    grid-column: auto/span 4;
}
.item-4 {
    grid-column: auto/span 4;
}
.item-5 {
    grid-column: auto/span 4;
}
.item-6 {
    grid-column: auto/span 6;
}
.item-7 {
    grid-column: auto/span 6;
}


.destination-title-img {
    display: flex;
    position: relative;
    bottom: 55%;
    color: var(--white);
    justify-content: center;
    font-size: 1.75rem;
}


/* Card section */

.card-section {
    margin-top: 4rem;
}

.choose-title {
    font-size: 3.2rem;
    font-weight: bold;
    color: var(--black);
    margin-bottom: 1.5rem;
    text-align: center;
}

.choose-desc {
    color: var(--lowBlack);
    text-align: center;
    margin-bottom: 2.5rem;
}


/* card container */


.card-container {   
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 1.4rem;
    font-weight: 900;
}

.card-desc {
    line-height: 1.9;
}
.hotel, .price {
    background-color: #fbb46323;
    padding: 128px 55px 32px 55px;
    border-radius: 1.4rem;
}
.world {
    padding: 128px 55px 32px 55px;
    background-color: #29cdf61f;
    border-radius: 1.4rem;
}


/* Deals Section */

.deals-section {
    margin-top: 5rem;
}

.deals-title {
    text-align: center;
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 900;
}
.deals-desc {
    text-align: center;
    margin: 3rem 0;
}


/* Deals Container  */

.hotel-img {
    width: 100%;
}


.hotel-desc {
    position: relative;
    width: 570px;
    background-color: rgba(255, 255, 255, 0.292);
    backdrop-filter: blur(1px);
    border-radius: 1rem;
    text-align: center;
    padding: 2.5rem;
    bottom: 390px;
    left: 37%;
}

.hotel-title {
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--black);
    margin-bottom: 1rem;
}

.hotel-title-desc {
    color: #5A5A5D;
    margin-bottom: 1rem;
}

.price-tag {
    font-size: 1.25rem;
    color: var(--color);
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.center-btn {
    display: flex;
    margin: 0 auto;
    margin-bottom: 100px;
}

/* perfect-section */

.perfect-container {
    width: 532px;
}

.perfect-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7rem;
}

.perfect-title {
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 900;
    margin-bottom: 1.5rem;
}
.perfect-desc {
    color: var(--lowBlack);
    margin-bottom: 1.5rem;
    line-height: 1.9;
}

.square {
    color: var(--black);
    margin-bottom: 2rem;
    line-height: 1.7;
}

.perfect-video {
    border-radius: 1.5rem;
}

/* Newsletter section */

.newsletter-section {
    display: flex;
    gap: 1.5rem;
    margin-bottom: 8rem;
}

.newsletter-content {
    width: 470px;
    border: 1px solid var(--color);
    border-radius: 1rem;
    padding-top: 2.5rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.newsletter-title {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 800;
    margin-bottom: 1rem;
}

.news-desc {
    color: var(--lowBlack);
    margin-bottom: 1.5rem;
}

.newsletter-form {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#name, #email {
    border-radius: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    border-style: none;
}

.subscribe-btn {
    margin-bottom: 2.5rem;
}
/* Main end */

/* ======================================== */



/* Footer Start */


footer {
    background-color: #5a5a5d37;
    padding-top: 8rem;
}

.imran-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.imran-title {
    font-size: 2.5rem;
    font-weight: 900;
    color: var(--black);
}

.imran-desc {
    width: 600px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.8;
    margin-bottom: 2rem;
}

.size {
    width: 1.2rem;
}

.social-logo {
    display: flex;
    gap: 2rem;
    justify-content: center;
    margin-bottom: 3rem;
}

.reserved {
    margin-top: 3rem;
    text-align: center;
    padding-bottom: 3rem;
}

















/* Responsive Design */
/* Mobile Device */

@media screen and (max-width: 576px) {
    .navbar-section {
        flex-direction: column;
        width: 100%;
    }
    .name-tag {
        padding-bottom: 20px;
    }
    .nav {
        flex-direction: column;
        text-align: center;
    }

    /* banner */


    .banner-title {
        padding-top: 20px;
    }
    .banner-form {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: .5rem;
    }

    #where {
        width: 70%;
    }
    #when {
        width: 70%;
    }
    #select {
        width: 70%;
    }


    /* main */
    main {
        width: 100%;
    }
    
    /* popular-section */
    
    .popular-section {
        flex-direction: column;
        width: 100%;
    }
    .popular-img {
        width: 100%;
    }

    .popular-content {
        text-align: center;
        padding: 0 1.8rem;
    }

    /* destination-section */

    .destination-img {
        grid-template-columns: 1fr;
    }

    /* Card section */

    .card-container {
        grid-template-columns: 1fr;
    }

    /* Deals Section */

    .hotel-desc {
        display: none;
    }

    /* Perfect section */

    .perfect-section {
        flex-direction: column;
        gap: 2rem;
        text-align: center;
    }
    .perfect-container {
        width: 100%;
    }
    .perfect-video {
        width: 100%;
    }


    /* newsletter section */ 
    .newsletter-content {
        width: 70%;
        text-align: center;
        margin: 0 auto;
    }
    .newsletter-section {
        flex-direction: column;
    }

    .news-img {
        width: 100%;
    }

    /* footer */

    .imran-desc {
        width: 100%;
    }
}